<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	 <bean id="serviceBean" class="org.catmanscode.service.AnimalServiceImpl">
	 		<property name="animalDao"  ref="daoBean"/>
	 </bean>
	
	 <bean id="daoBean" class="org.catmanscode.dao.AnimalDaoImpl"></bean>

</beans>
