<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myCat" class="org.catmanscodes.Cat"></bean>
	<bean id="myDog" class="org.catmanscodes.Dog"></bean>
	<bean id="myLion" class="org.catmanscodes.Lion"></bean>

</beans>
