<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myAnimalService" class="org.catmanscodes.main.dao.AnimalDaoImpl"></bean>

	<bean id="myAnimal" class="org.catmanscodes.main.service.AnimalServiceImpl">
		<constructor-arg ref="myAnimalService" />
	</bean>

</beans>
