<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean 
		id="myAnimal" 
		class="org.catmanscodes.main.service.AnimalServiceImpl" 
		init-method="init"
		destroy-method="destroy"
		scope="singleton"
	/>

<!-- Note : If we keep bean's scope an prototype, spring will not call destroy method -->

</beans>